<html lang="en">
<head>
  {% load static %}
  <title>Notes Sharing Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}?v=2">
</head>
<body>
<div>
  <nav class="navbar navbar-expand-sm" style="background: linear-gradient(to right, #ffffffff, #0077ffff);">
    <!-- Logo on the left -->
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 50px;">
    </a>

    <!-- Navbar items aligned to right -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}"><b>HOME</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}"><b>ABOUT</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}"><b>CONTACT</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}"><b>LOGIN</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login_admin' %}"><b>ADMIN</b> </a>
      </li>
    </ul>
  </nav>
</div>



{% block body %}
{% endblock %}


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">

  <!-- Copyright -->
  <div class="text-center p-3" style="background: linear-gradient(to right, #ffffffff, #0077ffff);">
    <p style="color: black;">
  © {{ now|date:"Y" }} RK Notes Sharing Site developed by <b>Ramakant Chaudhari</b>. All rights reserved.
</p>

  </div>
</footer>

</body>
</html>